## Reference
# %d local user home dir
# %l local host name
# %u local username
# %h target host name
# %n host name as on cli
# %p remote port
# %r remote username

## Include All
Include config.d/config_*

